/* boader solid around everything then inset inside for 3d effect */
body {
    font-family: 'Courier New', monospace;
    background-color: #c0c0c0;
}

.border {
    box-shadow:
        inset -3px -3px #000000,
        inset 3px 3px #ffffff;
}

.win95-border {
    border: #c0c0c0;
    border-style: solid;
    box-shadow:
        inset -3px -3px #3d3d3d,
        inset 3px 3px #aaaaaa;
}

.win95-button {
    border: #dcdcdc;
    border-style: solid;
    background-color: #dcdcdc;
    box-shadow:
        inset -3px -3px #3d3d3d,
        inset 3px 3px #aaaaaa;
}

.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}